<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MCU - Iron-Man</title>
        <link rel="shortcut icon" href="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/790e80418f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/movie/marvel/phase-1.css') }}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-268470515-1"></script>
    </head>
    <body id="gMNrTK">
        <div id="mobile-overlay"></div>
        <div id="menu-display">
            <ul class="nav menu-display-list">
                <li class="nav-item active">
                    <a class="nav-link" href="/" title="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category.html" title="">Most Popular</a>
                </li>
            </ul>
        </div>
        <div id="app">
            <header class="over-air">
                <div class="container">
                    <div id="header_elements">
                        <div class="btn btn-touch mobile-button" id="mobile_menu">
                            <i class="fas fa-bars"></i>
                        </div>
                        <a href="/" id="header_logo">
                            <img src="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" alt="1HD">
                        </a>
                        <div id="header_search">
                            <div class="search-elements">
                                <form action="/search">
                                    <div class="search-submit">
                                        <div class="search-icon">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </div>
                                    </div>
                                    <input name="keyword" type="text" id="search-input" class="form-control is-input" autocomplete="off" placeholder="Search for Marvel movies or tv series">
                                </form>
                                <div class="is-result search-suggest" style="display: none;"></div>
                            </div>
                        </div>
                        <div id="header_menu">
                            <div class="menu-item">
                                <a href="/" class="menu-link ">Home</a>
                            </div>
                            <div class="menu-item">
                                <a href="/movies" class="menu-link ">Movies</a>
                            </div>
                            <div class="menu-item">
                                <a href="/tv-series" class="menu-link ">TV Series</a>
                            </div>
                        </div>
                        <div class="flex-grow"></div>
                        <div class="btn btn-touch mobile-button" id="mobile_search">
                            <i class="fas fa-search"></i>
                        </div>
                        <div id="header_member"></div>
                    </div>
                </div>
            </header>
            <!--/// Page body ///-->
            <div id="page-detail">
                <!--/// Section single ///-->
                <section class="section-detail is-detail-tv">
                    <div class="slide-cover">
                        <img src="https://i.pinimg.com/736x/14/85/b5/1485b5a78274180bcce4a0fce0ef3c4a.jpg">
                    </div>
                    <div class="container">
                        <div class="detail-wrap">
                            <div class="detail-elements">
                                <div class="one-block">
                                    <div class="is-thumbnail">
                                        <div class="film-thumbnail">
                                            <div class="badge-tag quality">HD</div>
                                            <!-- <div class="badge-tag release">2023</div> -->
                                            <img class="film-thumbnail-img" src="https://i.pinimg.com/736x/14/85/b5/1485b5a78274180bcce4a0fce0ef3c4a.jpg" alt="Iron-Man">
                                        </div>
                                    </div>
                                    <div class="is-caption backdrop-blur-50">
                                        <div class="is-top">
                                            <div class="detail-top">
                                                <div class="is-share">
                                                    <div class="share-wrap"></div>
                                                </div>
                                            </div>
                                            <h2 class="heading-xl">Iron-Man</h2>
                                            <div class="is-action">
                                                <div class="div-buttons">
                                                    <a href="#page-watch" class="btn btn-primary w-icon">
                                                        <i class="fas fa-play mr-3"></i>
                                                        Watch Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="is-bot">
                                            <div class="item-description mb-4">
                                                <div class="item-body">
                                                    <div class="name mb-2">
                                                        <strong>Overview</strong>
                                                    </div>
                                                    <div class="description">After being captured by terrorists, Anthony Stark, a genius inventor, builds a powerful suit of armor to escape. Back home, he refines the suit and becomes the armored superhero Iron Man. He uncovers his business partner's sinister plan and defeats him in a high-tech showdown, publicly revealing his identity as Iron Man.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="others">
                                                
                                                <div class="item item-casts">
                                                    <div class="name">Casts</div>
                                                    <div class="item-body">
                                                        <a href="https://www.imdb.com/name/nm0000375/?ref_=ttfc_fc_cl_t1" title="Robert Downey Jr.">Robert Downey Jr</a>
                                                        , 
                                                
                                                    <a href="https://www.imdb.com/name/nm0000569/?ref_=ttfc_fc_cl_t4" title="Gwyneth Paltrow">Gwyneth Paltrow</a>
                                                        , 
                                                
                                                    <a href="https://www.imdb.com/name/nm0005024/?ref_=tt_ov_st" title="Terrence Howard">Terrence Howard</a>
                                                        , 
                                                
                                                    <a href="https://www.imdb.com/name/nm0000313/?ref_=ttfc_fc_cl_t3" title="Jeff Bridges">Jeff Bridges</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="name">Director</div>
                                                    <div class="item-body">
                                                        <a>Jon Favreau</a>
                                                    </div>
                                                </div>
                                                <div class="item item-genres">
                                                    <div class="name">Genres</div>
                                                    <div class="item-body">
                                                        <a href="/genre/action-10" rel="tag" title="Action">Action</a>
                                                        , 
                                                
                                                    <a href="/genre/science-fiction-5" rel="tag" title="Science Fiction">Science Fiction</a>
                                                        , 
                                                
                                                    <a href="/genre/comedy-7" rel="tag" title="Comedy">Comedy</a>
                                                        , 
                                                
                                                    <a href="/genre/adventure-18" rel="tag" title="Adventure">Adventure</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="name">Duration</div>
                                                    <div class="item-body">
                                                        <span>126 min</span>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="name">Country</div>
                                                    <div class="item-body">
                                                        <a title="United States of America">United States of America</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="name">Release</div>
                                                    <div class="item-body">
                                                        <span>2008-05-02</span>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="name">Production</div>
                                                    <div class="item-body">
                                                        <a href="https://www.imdb.com/company/co0023400?ref_=tt_dt_co_1" title="Paramount Pictures">Paramount Pictures</a>
                                                        , 
                                                
                                                    <a href="https://www.imdb.com/company/co0095134?ref_=tt_dt_co_2" title="Marvel Enterprises">Marvel Enterprises</a>
                                                        , 
                                                
                                                    <a href="https://www.imdb.com/company/co0051941?ref_=tt_dt_co_3" title="Marvel Studios">Marvel Studios</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="page-watch">
                    <!--/// Section single ///-->
                    <section class="section-detail is-watch is-watch-tv">
                        <!-- <div class="slide-cover"><img src="images/slider-09.webp"></div> -->
                        <div class="container">
                            <div class="detail-wrap">
                                <div class="detail-elements">
                                    <div id="watch-area" class="watch-wrap backdrop-blur-50">
                                        <div class="ww-top">
                                            <div class="is-name flex-grow-1">
                                                <h2 class="heading-sm sum mb-0">Iron-Man</h2>
                                            </div>
                                            <div class="top-right">
                                                <div class="is-detail">
                                                    <a href="#page-detail" class="btn w-icon">
                                                        <i class="fas fa-info-circle mr-2"></i>
                                                        Detail
                                                    </a>
                                                </div>
                                                <div class="is-share">
                                                    <div class="btn w-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-share-alt mr-2"></i>
                                                        Share this
                                                    </div>
                                                    <div class="dropdown-menu mine-dropdown">
                                                        <div class="dropdown-text">
                                                            <div class="d-block mb-2">Share to your friends</div>
                                                            <div class="share-wrap">
                                                                <div class="addthis_inline_share_toolbox_5794"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ww-player">
                                            <div class="if-hd">
                                                <div id="player-loading" class="loading-relative" style="display: none;">
                                                    <div class="loading">
                                                        <div class="span1"></div>
                                                        <div class="span2"></div>
                                                        <div class="span3"></div>
                                                    </div>
                                                </div>
                                                <iframe id="iframe-player" width="100%" height="500" scrolling="no" frameborder="0" src="https://vidsrc.to/embed/movie/tt0371746" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                                            </div>
                                        </div>
                                        <div class="ww-controls">
                                            <div id="server-play" class="is-servers" style="display: none;"></div>
                                            <div class="is-func">
                                                <div class="item item-light">
                                                    <div id="toggle-light" class="btn w-icon">
                                                        <i class="fas fa-adjust mr-2"></i>
                                                        Toggle light
                                                    </div>
                                                </div>
                                                <div class="item item-fav" id="wl-content"></div>
                                                <div class="item item-comment">
                                                    <div class="btn w-icon btn-comment">
                                                        <i class="fas fa-comment mr-2"></i>
                                                        Comment
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-default section-flow-vertical" id="section-comment">
                        <div class="container">
                            <div class="section-header">
                                <div class="is-title">
                                    <h2 class="heading-md">Discussion</h2>
                                </div>
                                <div class="flex-grow"></div>
                            </div>
                            <div id="disqus_thread"></div>
                            <script>
                                const disqus_config = function() {
                                    this.page.url = 'https://1hd.to/movie/watch-spider-man-into-the-spider-verse-sequel-online-66674';
                                    this.page.identifier = 'movie-66674';
                                };
                                (function() {
                                    // DON'T EDIT BELOW THIS LINE
                                    var d = document
                                      , s = d.createElement('script');
                                    s.src = 'https://movie-3fzpaug9oy.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                }
                                )();
                            </script>
                            <noscript>
                                Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a>
                            </noscript>
                        </div>
                    </section>
            <!--/// footer ///-->
            <div class="flex-grow"></div>
            <footer>
                <div class="footer-top">
                    <div class="container">
                        <div class="d-flex footer-elements">
                            <div class="footer-logo">
                                <a href="/home" class="is-logo">
                                    <img src="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" alt="1HD">
                                </a>
                            </div>
                            <div class="footer-about">
                                <div class="heading-sm mb-3">About Us</div>
                                <p>
                                    Marvel Wiki is a fan made wiki. The Right to <strong>Marvel Studio©</strong> are in possession of <strong>Disney©</strong>.
                                </p>
                                <small>This site is not meant to impersonate Marvel Studio© or Disney©</small>
                                <div class="links pt-5">
                                    <a href="https://www.marvel.com/">Marvel</a>
                                    <a href="https://www.disney.com">Disney</a>
                                    <a href="/term">Terms of service</a>
                                </div>
                            </div>
                            <div class="flex-grow"></div>
                            <div class="footer-up">
                                <a href="#app" class="btn btn-lg btn-light w-icon linknav">
                                    <i class="fas fa-angle-up mr-2"></i>
                                    <strong>Top</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            const movie = {
                id: '0371746',
                type: '1',
                name: 'Iron-Man',
                page: 'detail'
            };
        </script>
        <div class="modal fade mine-modal is-login" id="modallogin" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-cover" style="background-image: url(/images/login-img.webp);"></div>
                    <div class="tab-content">
                        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                        <!--Begin: tab login-->
                        <div id="modal-tab-login" class="tab-pane active">
                            <div class="modal-body">
                                <h5 class="modal-title mb-0">Welcome back</h5>
                                <div class="mt-3">&nbsp;</div>
                                <form class="mine-form" id="login-form" method="post">
                                    <div class="alert alert-danger mb-3" id="login-error" style="display: none;"></div>
                                    <div class="form-group">
                                        <label class="prelabel" for="email">Email address</label>
                                        <input name="email" type="text" class="form-control" id="email" placeholder="your-email@mail.com" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="email">Password</label>
                                        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
                                    </div>
                                    <div data-theme="dark" class="g-recaptcha mb-3 mt-3" id="login-recaptcha"></div>
                                    <div class="mt-1">&nbsp;</div>
                                    <div class="form-group is-button">
                                        <button class="btn btn-primary btn-block">Login</button>
                                        <div id="login-loading" class="loading-relative" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <a href="#" class="link-highlight text-forgot forgot-tab-link">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                </form>
                                <div class="is-modal-footer">
                                    <div class="text-center">
                                        Don't have an account? <a class="highlight-text register-tab-link">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: tab login-->
                        <!--Begin: tab register-->
                        <div id="modal-tab-register" class="tab-pane fade">
                            <div class="modal-body">
                                <h5 class="modal-title mb-0">Create an Account</h5>
                                <div class="mt-3">&nbsp;</div>
                                <form class="mine-form" method="post" id="register-form">
                                    <div class="alert alert-danger mb-3" id="register-error" style="display: none;"></div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-username">Your name</label>
                                        <input name="name" type="text" class="form-control" id="re-username" placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-email">Email address</label>
                                        <input name="email" type="text" class="form-control" id="re-email" placeholder="name@email.com" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-password">Password</label>
                                        <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-confirmpassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="cf_password" placeholder="Confirm Password" required>
                                    </div>
                                    <div data-theme="dark" class="g-recaptcha mb-3 mt-3" id="register-recaptcha"></div>
                                    <div class="mt-1">&nbsp;</div>
                                    <div class="form-group is-button">
                                        <button class="btn btn-primary btn-block">Register</button>
                                        <div id="register-loading" class="loading-relative" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                </form>
                                <div class="is-modal-footer">
                                    <div class="text-center">
                                        Have an account? <a class="highlight-text login-tab-link" href="javascript:;">Login now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: tab register-->
                        <!--Begin: tab forgot-->
                        <div id="modal-tab-forgot" class="tab-pane fade">
                            <div class="modal-body">
                                <h5 class="modal-title mb-0">Recovery Password</h5>
                                <div class="mt-3">&nbsp;</div>
                                <form class="mine-form" method="post" id="forgot-form">
                                    <div class="alert alert-danger mb-3" id="forgot-error" style="display: none;"></div>
                                    <div class="form-group">
                                        <input name="email" type="text" class="form-control" id="re-username" placeholder="Enter your email">
                                    </div>
                                    <div data-theme="dark" class="g-recaptcha mb-3 mt-3" id="forgot-recaptcha"></div>
                                    <div class="mt-1">&nbsp;</div>
                                    <div class="form-group is-button">
                                        <button class="btn btn-primary btn-block">Submit</button>
                                        <div id="forgot-loading" class="loading-relative" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                </form>
                                <div class="is-modal-footer">
                                    <div class="text-center">
                                        Have an account? <a class="highlight-text login-tab-link">Login now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: tab forgot-->
                    </div>
                </div>
            </div>
        </div>
        <script>
            const recaptchaSiteKeyV3 = '6LcByHghAAAAAC3TN2Z97m8b8L9e8uo3oF4-L0Lx'
              , recaptchaSiteKeyV2 = '6LfNyHghAAAAAByrwKNFy4tnRLy6HN8BAfQps5yn';
        </script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LcByHghAAAAAC3TN2Z97m8b8L9e8uo3oF4-L0Lx&hl=en"></script>
        <script type="text/javascript" src="/js/shared/scrollbar.js"></script>
        <script type="text/javascript" src="/js/group_2/app.min.js?v=1.2"></script>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6433be364f61b7001240a339&product=inline-share-buttons&source=platform" async="async"></script>
        <script>
            if ('serviceWorker'in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js?v=0.3');
                });
            }
        </script>
    </body>
</html>