<head>
    <title>MCU</title>
    <link rel="shortcut icon" href="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/790e80418f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>
<body>
    <div class="infinity-saga">
        <h1>Infinity Saga</h1>
        <div class="phase-1">
            <h2>Phase 1</h2>
            <div>
                <a href="/iron-man">Iron Man</a>
            </div>
            <div>
                <a href="/incredible-hulk">Incredible Hulk</a>
            </div>
            <div>
                <a href="/iron-man-2">Iron Man 2</a>
            </div>
            <div>
                <a href="/thor">Thor</a>
            </div>
            <div>
                <a href="/captain-america-first-avengers">Captain America: First Avengers</a>
            </div>
            <div>
                <a href="/the-avengers">The Avengers</a>
            </div>
        </div>
        <div class="phase-2">
            <h2>Phase 2</h2>
            <div>
                <a href="/iron-man-3">Iron-Man 3</a>
            </div>
            <div>
                <a href="/thor-dark-world">Thor: The Dark World</a>
            </div>
            <div>
                <a href="/captain-america-winter-soldier">Captain America: The Winter Soldier</a>
            </div>
            <div>
                <a href="/guardian-of-the-galaxy">Guardians Of The Galaxy</a>
            </div>
            <div>
                <a href="/avengers-age-ultron">Avengers: Age Of Ultron</a>
            </div>
            <div>
                <a href="/ant-man">ant-man</a>
            </div>
        </div>
        <div class="phase-3">
            <h2>Phase 3</h2>
        </div>
    </div>
    <div class="multiverse-saga">
        <h1>Multiverse Saga</h1>
        <div class="phase-4">
            <h2>Phase 4</h2>
        </div>
        <div class="phase-5">
            <h2>Phase 5</h2>
        </div>
    </div>
    
    
</body>