<head>
    <title>MCU</title>
    <link rel="shortcut icon" href="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/790e80418f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>
<body>
    <div class="phase-1">
        <h1>Phase 1</h1>
        <a href="/iron-man">Iron Man</a>
        <a href="/incredible-hulk">Incredible Hulk</a>
        <a href="/iron-man-2">Iron Man 2</a>
        <a href="/thor">Thor</a>
        <a href="/captain-america-first-avengers">Captain America: First Avengers</a>
        <a href="/the-avengers">The Avengers</a>
    </div>
    
</body>