<head>
    <title>MCU</title>
    <link rel="shortcut icon" href="https://i.ibb.co/XFTpJPZ/image-removebg-preview-6.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/790e80418f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>
<body>
    <div class="phase-1">
        <h1>Phase 1</h1>
        <div>
            <img src="https://i.pinimg.com/736x/14/85/b5/1485b5a78274180bcce4a0fce0ef3c4a.jpg" alt="Iron-Man">
            <a href="/iron-man">Iron Man</a>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/M/MV5BMTUyNzk3MjA1OF5BMl5BanBnXkFtZTcwMTE1Njg2MQ@@._V1_.jpg" alt="The Incredible Hulk">
            <a href="/incredible-hulk">Incredible Hulk</a>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/I/71VZVXPhmKL.jpg" alt="Iron-Man 2">
            <a href="/iron-man-2">Iron Man 2</a>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/M/MV5BOGE4NzU1YTAtNzA3Mi00ZTA2LTg2YmYtMDJmMThiMjlkYjg2XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_.jpg" alt="Thor">
            <a href="/thor">Thor</a>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/I/61QCViCqysL.jpg" alt="Captain America: First Avengers">
            <a href="/captain-america-first-avengers">Captain America: First Avengers</a>
        </div>
        <div>
            <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg" alt="The Avengers">
            <a href="/the-avengers">The Avengers</a>
        </div>
    </div>
    
</body>